<app-admin-header></app-admin-header>
<mat-spinner *ngIf="loading"></mat-spinner>
<mat-toolbar *ngIf="successMsg" color="accent">{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar>

<div *ngIf="!loading && !errorMsg">
  <table mat-table [dataSource]="customers" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let customer"> {{ customer._id }} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let customer"> {{ customer.name }} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let customer"> {{ customer.email }} </td>
    </ng-container>
    <ng-container matColumnDef="appointment">
        <th mat-header-cell *matHeaderCellDef> Appointment Date </th>
        <td mat-cell *matCellDef="let customer"> {{ customer.appointment.appointmentDate | date:'dd/MM/yyyy' }} </td>
      </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let customer"><button (click)="deleteCustomer(customer._id)" mat-raised-button color="warn">Delete</button></td>
    </ng-container>
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let customer"><button (click)= "fillUpdateFields(customer._id, customer.name, customer.email)"mat-raised-button  
          color="warn">Get</button></td>
          
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let customer; columns: columns"></tr>
  </table>
</div>

<div class="form-container">
<h1>Add Customer:</h1>
  <form (submit)="addNewCustomer()">
    <mat-form-field>
      <input [(ngModel)]="name" name="name" matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="email" name="email" matInput placeholder="Email" type="email">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="password" name="password" matInput placeholder="Password" type="password">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="isAdmin" name="isAdmin" class="checkIsAdmin"
       [checked]="true"> isAdmin
    </mat-checkbox>
     <button mat-raised-button color="warn">Add</button>
  </form>
</div>

<div class="form-container">
  <h1>Update Customer:</h1>
  <script type="text/typescript">
     let  foo: (string)[] = getfoo(); 
  </script>
  <form (submit)="updateCustomer(foo[0])" >
    <mat-form-field>
      <input [(ngModel)]="userId" name="userId" matInput placeholder="UserId:" [value]=foo[0]>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="name" name="name" matInput placeholder= "Name:" [value] =  foo[1] >
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="email" name="email" type="email" matInput placeholder="Email:" [value] = foo[2] >
    </mat-form-field>
    <button mat-raised-button color="warn"> Update</button>
  </form>
</div>
<app-footer></app-footer>