<app-header></app-header>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>About us: </title>
</head>

<body>
    <h1>Group 9 </h1>
    <h2>Ahmed Elkady</h2>
    <p class="elkady"> Ahmed Elkady, is a third year student at Kristianstad university, he has started his studies as a software developer
    since 2018. He has a strong background in service field and customer relations as he is currently working in the
    customer relations division at Ikea. His main strengths with regards to software development are Java back-end,
    relational databases, Java-EE, socket programming and front-end. Furthermore, he has worked on android development
    projects and participated in two projects that span over the development of both Java desktop application and android
    application. He also has some experience with Unity and slight experience with C#.
    </p>
    
    <h2>Yehya Alkhatib</h2>
    <p class="alkhatib"> Yehya Alkhatib is a third year student at Kristianstad university, he studies a software development program since 2018.
    Yehyas competences are back-end programming in Java, Java-EE, socket programming and relational databases. Yehya has
    also worked on different projects under the education period that incorporated the use of Java language to develop both
    desktop applications and android apps. Yehya is a solution focused and ambition software engineer. He is a talented
    software developer and has commitment to the time frames and constraints of the project. Furthermore, Yehya has
    knowledge in C# and other technologies.
    </p>

</body>

</html>
<app-footer></app-footer>
